a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.btn-container {
  width: 100%;
  display: flex;
}

.sub-btns {
  position: absolute;
  left: 50%;
  min-width: 300px;
}